/* Background */
body {
    background-color: saddlebrown;
}

div.table {
    background-color: darkgreen;

    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 4vh;
    border: 4px solid black;
    border-radius: 25%;

    position: absolute;
    width: 95vw;
    height: 95vh;
}

/* Dealer, Player, Agent */
/* Labels */
div.table p.dealer,
div.table p.player,
div.table p.agent {
    background-color: inherit;
    color: blanchedalmond;
    font-size: 4vh;
    font-weight: bolder;

    margin: 4px;
    padding: 0px;

    position: absolute;
    transform: translateX(-50%); /* center */
}

/* Divs */
div.table div.dealer,
div.player,
div.agent {
    background-color: inherit;
    display: inline-block;
    text-align: center;

    margin: 4px;

    position: absolute;
    transform: translateX(-50%); /* center */
    width: 30%;
    height: 40%;
}

/* Positioning */
/* Dealer */
div.table p.dealer {
    top: 2%;
    left: 50%;
    z-index: 0;
}

div.table div.dealer {
    top: 10%;
    left: 50%;
    z-index: 1;
}

/* Player */
div.table p.player {
    bottom: 2%;
    left: 35%;
    z-index: 0;
}

div.table div.player {
    bottom: 15%;
    left: 35%;
    z-index: 2;
}

/* Agent */
div.table p.agent {
    bottom: 2%;
    left: 80%;
    z-index: 0;
}

div.table div.agent {
    bottom: 15%;
    left: 80%;
    z-index: 2;
}

/* Card */
img.card {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

    width: 35%;
    height: 70%;
}

/* Chips */
img.chips {
    display: inline-block;

    margin: 1%;
    margin-bottom: 0%;

    max-height: 10%;
}

p.chips {
    background-color: blanchedalmond;
    color: black;
    font-weight: bolder;
    font-size: 4vh;
    text-align: right;
    display: inline-block;

    border: 4px solid maroon;
    padding-bottom: 12px;
    padding-right: 8px;
    margin: 4px;
    margin-bottom: 0px;

    width: 20%;
    height: 10%;
}

/* Winner/Loser/Bust */
p.bet-status {
    background-color: inherit;
    color: blanchedalmond;
    font-weight: bolder;
    font-size: 4vh;
    text-align: right;
    display: inline-block;

    padding-bottom: 12px;
    padding-right: 8px;
    margin: 4px;
    margin-bottom: 0px;

    width: 5%;
    height: 10%;
}

/* Info Button */
a.info-button {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 10vh;
    height: 10vh;

    background-color: maroon;
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
    font-size: 7.5vh;

    border: 4px solid black;
    border-radius: 50%;
    cursor: pointer;
}

a.info-button:hover {
    opacity: 50%;
}

/* Player Controls */
div.player button {
    background-color: maroon;
    text-align: center;

    border: 4px solid black;
    margin: 4px;
    margin-bottom: 0px;

    width: 20%;
    height: 17%;
}

div.player button:hover {
    opacity: 50%;
}

div.player button p {
    color: blanchedalmond;
    font-weight: bolder;
    font-size: 4vh;
    text-align: center;
    
    margin: 0px;
}

/* Game over */
div.gameover {
    visibility: hidden; /* hidden on start*/

    background-color: maroon;
    text-align: center;

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vh;
    margin-bottom: 16vh;
    border: 8px solid blanchedalmond;
    border-radius: 5%;

    position: absolute;
    width: 80vw;
    height: 80vh;
    z-index: 5;
}

div.gameover h1, div.gameover p {
    color: blanchedalmond;
    text-align: center;
    font-size: 8vh;
    font-weight: bold;

    margin: 8vh;
}

div.gameover p {
    font-size: 4vh;
}

div.gameover button {
    background-color: blanchedalmond;
    text-align: center;

    border: 4px solid black;
    border-radius: 10%;;
    margin: 4px;

    width: 20%;
    height: 20%;
}

div.gameover button:hover {
    opacity: 50%;
}

div.gameover button p {
    color: black;
    font-weight: bolder;
    font-size: 4vh;
    text-align: center;
    
    margin: 0px;
}