/* Background */
body {
    background-color: saddlebrown;
}

div.table {
    background-color: darkgreen;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 4px solid black;
    border-radius: 25%;
    width: 90vw;
    height: 90vh;
}

/* Dealer, Player, Agent */
/* Labels */
div.table p.dealer,
div.table p.player,
div.table p.agent {
    background-color: darkgreen;
    color: blanchedalmond;
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    margin: 0;
}

div.table p.dealer {
    top: 0%;
    left: 50%;
    transform: translateX(-50%); /* center */
    z-index: 2;
}

div.table p.player {
    bottom: 0.5%;
    left: 35%;
    z-index: 3;
}

div.table p.agent {
    bottom: 0.5%;
    right: 35%;
    z-index: 3;
}

/* Divs */
div.table div.dealer,
div.player,
div.agent {
    background-color: darkgreen;
    position: absolute;
    display: inline-block;
    text-align: center;
    transform: translateX(-50%); /* center */
    width: 35%;
    height: 50%;
}

/* Dealer */
div.table div.dealer {
    top: 5%;
    left: 50%;
    z-index: 1;
}

/* Player */
div.table div.player {
    bottom: 8%;
    left: 30%;
    z-index: 2;
}

/* Agent */
div.table div.agent {
    bottom: 8%;
    left: 70%;
    z-index: 2;
}

/* Card */
img.card {
    background-color: red;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    width: 35%;
    height: 70%;
}

/* Chips */
img.chips {
    max-height: 10%;
    display: inline-block;
    margin: 1%;
    margin-bottom: 0%;
}

p.chips {
    background-color: blanchedalmond;
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    text-align: right;
    border: 4px solid maroon;
    padding: 0%;
    padding-right: 2%;
    margin: 1%;
    margin-bottom: 0%;
    width: 20%;
    height: 10%;
    display: inline-block;
}

/* Info Button */
a.info-button {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 80px;
    height: 80px;

    background-color: maroon;
    color: blanchedalmond;
    text-align: center;
    text-decoration: none;
    font-size: 3.5em;

    border: 4px solid black;
    border-radius: 50%;
    cursor: pointer;
}

a.info-button:hover {
    opacity: 50%;
}

/* Player Controls */
div.player button {
    background-color: maroon;
    border: 4px solid black;
    text-align: center;
    margin: 1%;
    margin-bottom: 0%;
    width: 20%;
    height: 15%;
}

div.player button:hover {
    opacity: 50%;
}

div.player button p {
    color: blanchedalmond;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    margin: 2%;
}