.hand-container {

}

.hand {

}

.hand h1 {

}

.card {
    height: 500px;
}

.chips {

}

.chips img {
    height: 100px;
}

.chips p {

}

.controls-container {
    
}

button {

}

button:hover {

}

button:disabled {

}

input {

}

input:read-only {

}

.integer-input {

}

.error {
    
}

.description {
    
}