/* Variables */
:root {
    --primary-color: #A8DADC;
    --secondary-color: #505050;
    --background-color: #181818;
    --error-color: #D06060;
    --font-size-base: 24px;
    --margin-base: 1rem;
    --padding-base: 0.5rem;
}

/* General */
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: var(--font-size-base);
    display: inline-block;
    text-align: center;
}

input {
    user-select: auto;
}

/* Containers */
.game {
    width: 95vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.players, .dealer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 40%;
}

.dealer {
    height: 40%;
}

.players {
    height: 50%;
}

.hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    height: 100%;
    width: 45%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    gap: calc(0.5 * var(--margin-base));
    height: 50%;
    width: 100%;
}

.chips {
    border: var(--padding-base) solid var(--secondary-color);
    border-radius: calc(0.2 * var(--font-size-base));
    display: flex;
    align-items: center;
    height: 5%;
    width: min-content;
}

.hand h1{
    margin: calc(0.5 * var(--margin-base));
    padding: calc(0.2 * var(--padding-base));
    border-radius: calc(0.2 * var(--font-size-base));
    font-size: var(--font-size-base);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
}

.integer-input {
    display: inline-block;
}

.description {
    width: 100%;
    text-align: center;
    font-size: calc(1.2 * var(--font-size-base));
    margin-top: calc(2 * var(--margin-base));
}

/* Controls */
button {
    margin: calc(0.2 * var(--margin-base)) var(--margin-base);
    border: 2px solid var(--primary-color);
    border-radius: calc(0.2 * var(--font-size-base));
    padding: var(--padding-base);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100%;
    flex-grow: 1;
    font-size: var(--font-size-base);
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

button:disabled,
input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

input {
    margin-top: calc(0.2 * var(--margin-base));
    border: 2px solid var(--primary-color);
    border-radius: calc(0.2 * var(--font-size-base));
    padding: var(--padding-base);
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: calc(1 * var(--font-size-base));
    font-weight: bolder;
    transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

input:focus {
    border-color: var(--secondary-color);
    color: var(--primary-color);
    outline: none;
    background-color: var(--background-color);
}

.error {
    color: var(--error-color);
    font-size: calc(0.75 * var(--font-size-base));
    text-align: right;
    min-height: calc(1 * var(--font-size-base));
    visibility: visible;
}

/* Cards */
.card {
    margin: calc(0.5 * var(--margin-base)) 0;
    height: 90%;
    transition: margin-bottom 0.5s ease, margin-top 0.5s ease;
}

.card:hover {
    margin-top: 0;
    margin-bottom: calc(1 * var(--margin-base));
}

/* Chips */
.chips img,
.chips p {
    background-color: var(--secondary-color);
    height: 100%;
    display: flex;
    align-items: center;
}

.chips p {
    border-radius: calc(0.2 * var(--font-size-base));
    padding: var(--padding-base);
    color: var(--primary-color);
    font-size: var(--font-size-base);
    font-weight: bolder;
}