/* Variables */
:root {
    --primary-color: #A8DADC;
    --secondary-color: #505050;
    --background-color: #181818;
    --error-color: #D06060;
    --font-size-base: 24px;
    --margin-base: 1rem;
    --padding-base: 0.5rem;
}

/* General */
* {
    margin: var(--margin-base);
    user-select: none;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: var(--font-size-base);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    user-select: auto;
}

/* Containers */
.game {
    margin: 0;
    padding: 0;
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players, .dealer {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 40%;
}

.hand {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.cards {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    height: 60%;
}

.chips {
    display: flex;
    align-items: center;
    height: 6%;
}

.hand h1{
    margin: 0;
    font-size: var(--font-size-base);
}

.hand p {
    margin: 0;
}

.controls {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.integer-input {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.description {
    width: 100%;
    text-align: center;
    font-size: calc(1.2 * var(--font-size-base));
    margin-top: calc(2 * var(--margin-base));
}

/* Controls */
button {
    margin: var(--margin-base);
    margin-bottom: calc(0.2 * var(--margin-base));
    border: 2px solid var(--primary-color);
    border-radius: calc(0.2 * var(--font-size-base));
    padding: var(--padding-base);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 100%;
    flex-grow: 1;
    font-size: var(--font-size-base);
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

button:disabled,
input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

input {
    margin-bottom: calc(0.4 * var(--margin-base));
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: calc(0.2 * var(--font-size-base));
    padding: var(--padding-base);
    height: 50%;
    font-size: calc(2 * var(--font-size-base));
    font-weight: bolder;
    box-sizing: border-box;
    transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

input:focus {
    border-color: var(--secondary-color);
    color: var(--primary-color);
    outline: none;
    background-color: var(--background-color);
}

.error {
    margin: calc(0.2 * var(--margin-base));
    color: var(--error-color);
    height: 20%;
    flex-shrink: 1;
    font-size: calc(0.7 * var(--font-size-base));
    text-align: right;
}

/* Cards */
.card {
    margin: calc(0.5 * var(--margin-base));
    height: 90%;
    flex-grow: 1;
    transition: margin-bottom 0.5s ease, margin-top 0.5s ease;
}

.card:hover {
    margin-top: 0;
    margin-bottom: calc(1 * var(--margin-base));
}

/* Chips */
.chips img,
.chips p {
    margin: 0;
    padding: var(--padding-base);
    border: var(--padding-base) solid var(--secondary-color);
    background-color: var(--secondary-color);
    height: 100%;
    display: flex;
    align-items: center;
}

.chips img {
    border-top-left-radius: calc(0.2 * var(--font-size-base));
    border-bottom-left-radius: calc(0.2 * var(--font-size-base));
}

.chips p {
    border-top-right-radius: calc(0.2 * var(--font-size-base));
    border-bottom-right-radius: calc(0.2 * var(--font-size-base));
    color: var(--primary-color);
    font-size: var(--font-size-base);
    font-weight: bolder;
}